---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile-Card.astro';
---

<Layout title="Lehman College Computer Science Club.">
    <div class='container mx-auto flex flex-col justify-around items-center pb-4 lg:px-0 px-4'>
        <div class=''>
            <h1 class='my-4'>We are a group dedicated to bringing students together.</h1>
            <p class='my-4'>The Lehman College Computer Science Club aims to promote growth and guidance to all who are seeking careers in STEM, most notably, Computer Science, Information Technology, and Mathematics.<br><br>Every semester, we meet, plan, and host events in an effort to introduce students to new technologies, opportunities, and skill development. We also host casual gatherings, so that we can build bonds together as fellow Lehman students.</p>
        </div>
        <div class='container mx-auto'>
            <h1 class='my-4'>Executive Board Members</h1>
            <div class='flex flex-wrap justify-center'>
                <Profile
                    name="Emily Portalatin-Mendez"
                    title="President"
                    image="/images/Portalatin-Mendez.jpg"
                    body="Scholar, published author, and software developer. I love coffee, coding, and my cat!"
                    github="https://github.com/emilypmendez"
                    linkedin="https://www.linkedin.com/in/emilypmendez/"
                    website="https://www.emilypmendez.com"
                />

                <Profile
                    name="James A. Bosch"
                    title="Vice President"
                    image="/images/bosch.jpg"
                    body="Sup! I'm Bosch. An aspiring SWE with a huge passion for fighting games."
                    github="https://github.com/Boschio"
                    linkedin="https://www.linkedin.com/in/james-bosch/"
                    website="https://boschio.tech/"
                />

                <Profile
                    name="Izaac Gibson"
                    title="Treasurer"
                    image="/images/Gibson.jpeg"
                    body="Driven student, trying to beat social stereotypes. I love basketball and cars."
                    github=""
                    linkedin="https://www.linkedin.com/in/izaac-gibson-b92833254/"
                    website=""
                />

                <Profile
                    name="Valerie McCree"
                    title="Secretary"
                    image="/images/McCree.jpg"
                    body=""
                    github=""
                    linkedin="https://www.linkedin.com/in/valerie-mccree-460869b9/"
                    website=""
                />

                <Profile
                    name="Nusrat Alam"
                    title="Networking & Outreach"
                    image="/images/Alam.jpeg"
                    body="Senior finishing my CIS degree. I love reading and my favorite book is The Count of Monte Cristo."
                    github=""
                    linkedin="https://www.linkedin.com/in/nusrat-alam-0768bb260/"
                    website=""
                />
                
                <Profile
                    name="Xhulia Turkaj"
                    title="Community Relations"
                    image="/images/Turkaj.jpg"
                    body=""
                    github=""
                    linkedin="https://www.linkedin.com/in/xhuliaturkaj/"
                    website=""
                />

                <Profile
                    name="Ilma Zarin"
                    title="Memberships"
                    image="/images/Zarin.jpeg"
                    body="Woman in Stem. Hard working and driven. My favorite hobbies are reading books and watching movies!"
                    github=""
                    linkedin="https://www.linkedin.com/in/ilma-zarin-a1641b190/"
                    website=""
                />

                <Profile
                    name="Amber J. Lewis"
                    title="Events"
                    image="/images/Lewis.jpg"
                    body="Hey there! Enthusiastic CS student looking to elevate and motivate others."
                    github="https://github.com/AmJoy01"
                    linkedin="https://www.linkedin.com/in/lewis-amber/"
                    website=""
                />

            </div>
        </div>
    </div>
</Layout>