---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Lehman College Computer Science Club.">
    <div class='flex flex-col items-center pb-4'>
    <div class='w-[90vw]'>
        <h1 class='my-4'>Who We Are</h1>
        <h2 class='my-4'>A group dedicated to bringing CS Students together.</h2>
        <p class='my-4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat. Praesent quis placerat lorem. Pellentesque aliquam nisi dui, ac semper arcu dapibus auctor. Mauris condimentum diam porta, luctus nibh eu, fermentum est. Mauris scelerisque, sem a dapibus lacinia, nulla enim faucibus nibh, non tempus nulla risus eu sapien. Nulla facilisi. Phasellus mi urna, tincidunt et turpis at, venenatis mattis nibh. Integer nec ligula metus. Donec ultrices magna ex. Integer lobortis, ante a rhoncus auctor, elit dolor maximus ipsum, sed efficitur ex mauris ac leo. Donec mauris eros, tristique vitae libero vitae, sagittis fermentum libero. Cras ligula magna, aliquam ac turpis quis, congue luctus mi.</p>
    </div>
    <div class='w-[90vw]'>
        <h1 class='my-4'>Executive Board Members</h1>
        <div class='flex flex-wrap justify-center'>
            <Card
                name="Emily Portalatin-Mendez"
                title="President"
                image="/images/Portalatin-Mendez.jpg"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat."
                github=""
                linkedin=""
            />

            <Card
                name="James A. Bosch"
                title="Vice President"
                image="/images/bosch.jpg"
                body="Sup! I'm Bosch. An aspiring SWE with a huge passion for fighting games."
                github="https://github.com/Boschio"
                linkedin="https://www.linkedin.com/in/james-bosch/"
            />

            <Card
                name="Nusrat Alam"
                title="Networking & Outreach"
                image="/images/Alam.jpeg"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat."
                github=""
                linkedin=""
            />

            <Card
                name="Izaac Gibson"
                title="Treasurer"
                image="/images/Gibson.jpeg"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat."
                github=""
                linkedin=""
            />

            <Card
                name="Valerie McCree"
                title="Secretary"
                image="/images/McCree.jpg"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat."
                github=""
                linkedin=""
            />

            <Card
                name="Xhulia Turkaj"
                title="Community Relations"
                image="/images/Turkaj.jpg"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat."
                github=""
                linkedin=""
            />

            <Card
                name="Ilma Zarin"
                title="Memberships"
                image="/images/Zarin.jpeg"
                body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat."
                github=""
                linkedin=""
            />

        </div>
    </div>
</div>


</Layout>