---
import Layout from '../layouts/Layout.astro';
import Event from '../components/Event-Card.astro'
---

<Layout title="Lehman College Computer Science Club.">
    <div class='container flex flex-col items-center mx-auto lg:px-0 px-4'>

        <h1>Spring 2023 Events</h1>

        <div>
            <h2 class='my-6'>February</h2>
            <Event title='Intro to Github Workshop' description='Learn what Git and Github are, why they are used, and why they are important to know. Bring your own laptops and follow along and get your environment set up.' date='Friday, February 17th'/>
        </div>

        <div>
            <h2 class='my-6'>March</h2>
            <h3>TBD...</h3>
        </div>

        <div class='pb-4'>
            <h2 class='my-6'>April</h2>
            <h3>TBD...</h3>
        </div>

    </div>
</Layout>