---
import Layout from '../layouts/Layout.astro';
import Event from '../components/Event-Card.astro'
---

<Layout title="Lehman College Computer Science Club.">
    <div class='container flex flex-col items-center mx-auto lg:px-0 px-4'>

        <h1>Fall 2023 Events</h1>

        <!-- <div>
            <h2 class='my-6'>September</h2>
            <Event title='Welcome Back Social' description='Our first meeting of the semester! Come meet other members and see what upcoming events the CS Club has in store for you.' location='Student Life Building, Conference Room 121' time='2:30PM - 5:00PM' date='Wednesday, February 8th'/>
        </div> -->

        <div>
            <h2 class='my-6'>October</h2>
            <Event title='Welcome Back Social' description='Our first meeting of the semester! Come meet other members and see what upcoming events the CS Club has in store for you.' location='Student Life Building, Conference Room 101' time='1:00PM - 4:00PM' date='Wednesday, October 11th'/>
            <Event title='The Data School Info Session' description='The Data School NYC is actively hiring data consultants to help their clients make sense of their data. Data School NYC recruiter Mel Niere, a Bronx native and CUNY graduate, is visiting Lehman College to help connect our students with good opportunities. Refreshments will be served!' location='Gillet Hall, Room 226' time='11:00AM - 12:30PM' date='Friday, October 13th'/>
            <Event title='Resume/Cover Letter Workshop With CIE' description='Craft your path to success with us! Join our resume/cv and cover letter building workshop aimed to prepare you for landing Spring 2024 internships and jobs. Food will be served!' location='Gillet Hall, Room 226' time='1:00PM - 4:00PM' date='Friday, October 13th'/>
        </div>
        
        <div class='pb-4'>
            <h2 class='my-6'>November</h2>
            <Event title='Postman API Webinar' description='Postman is a tool that makes it easier for software developers to test and work with APIs (Application Programming Interfaces). An API is a set of rules that allows one software application to talk to another and exchange information. Join the workshop to learn more and gain the skills necessary to work with APIs!' location='Online - Zoom' time='TBD' date='TBD'/>
            <Event title='Club Social - November' description='Come hang with us and other students. Socialize, network, and make new friends. Free food and drink!' location='Student Life Building, 214A' time='1:00PM - 4:00PM' date='Wednesday, November 15th'/>
            <Event title='AI/Machine Learning Workshop Part 1' description='Details coming soon.' location='TBD' time='TBD' date='TBD'/>
        </div>

        <div class='pb-4'>
            <h2 class='my-6'>December</h2>
            <Event title='Club Social - December' description='Come hang with us and other students. Socialize, network, and make new friends. Free food and drink!' location='Student Life Building, 214A' time='1:00PM - 4:00PM' date='Wednesday, December 15th'/>
            <Event title='AI/Machine Learning Workshop Part 2' description='Details coming soon.' location='TBD' time='TBD' date='TBD'/>
        </div>

        <!-- <h1>Spring 2023 Events</h1>

        <div>
            <h2 class='my-6'>February</h2>
            <Event title='Welcome Back Social' description='Our first meeting of the semester! Come meet other members and see what upcoming events the CS Club has in store for you.' location='Student Life Building, Conference Room 121' time='2:30PM - 5:00PM' date='Wednesday, February 8th'/>
            <Event title='Intro to GitHub Workshop' description='Learn what Git and Github are, why they are used, and why they are important to know. Bring your own laptop, follow along and get your environment set up to start using GitHub!' location='Gillet Hall, Room 231' time='1:00PM - 5:00PM' date='Friday, February 17th'/>
        </div>

        <div>
            <h2 class='my-6'>March</h2>
            <Event title='Club Social - March' description='Come hang with us and other students. Socialize, network, and make new friends. Free food and drink!' location='Student Life Building' time='2:00PM - 4:30PM' date='Friday, March 3rd'/>
            <Event title='Computer Science Club X Girls Who Code Social' description='Meet the new Lehman Girls Who Code chapter!' location='Student Life Building' time='1:00PM - 4:00PM' date='Thursday, March 23rd'/>
        </div>
        
        <div class='pb-4'>
            <h2 class='my-6'>April</h2>
            <Event title='Postman API Workshop 101' description='Postman is a tool that makes it easier for software developers to test and work with APIs (Application Programming Interfaces). An API is a set of rules that allows one software application to talk to another and exchange information. Join the workshop to learn more and gain the skills necessary to work with APIs!' link='https://drive.google.com/file/d/1zOK1zHfqXpISGQMWjyRHFdTESdk_7FpG' linkDesc="Check out the recording here." location='Online - Zoom' time='1:00PM - 2:00PM' date='Friday, April 14th'/>
            <Event title='Club Social - April' description='Come hang with us and other students. Socialize, network, and make new friends. Free food and drink!' location='Student Life Building' time='2:00PM - 4:30PM' date='Wednesday, April 19th'/>
            <Event title='Spring Coding Jam' description='The Computer Science Club is hosting the first in-person Lehman College hackathon since the pandemic! This event is in collaboration with Girls Who Code, Lehman College Business Club, CUNY Futures in Finance, CUNY Community Inclusive Economic Initiative, and Lehman College Student Affairs.' location='Student Life Building' time='9:00AM - 9:00PM' date='Friday, April 28th'/>
        </div> -->

    </div>
</Layout>