---
import Layout from '../layouts/Layout.astro';
import Event from '../components/Event-Card.astro'
---

<Layout title="Lehman College Computer Science Club.">
    <div class='container flex flex-col items-center mx-auto lg:px-0 px-4'>

        <h1>Spring 2023 Events</h1>

        <div>
            <h2 class='my-6'>February</h2>
            <Event title='Welcome Back Social' description='Our first meeting of the semester! Come meet other members and see what upcoming events the CS Club has in store for you.' location='Student Life Building, Conference Room 121' time='2:30PM - 5:00PM' date='Wednesday, February 8th'/>
            <Event title='Intro to GitHub Workshop' description='Learn what Git and Github are, why they are used, and why they are important to know. Bring your own laptop, follow along and get your environment set up to start using GitHub!' location='Gillet Hall, Room 231' time='1:00PM - 5:00PM' date='Friday, February 17th'/>
        </div>

        <div>
            <h2 class='my-6'>March</h2>
            <Event title='Club Social - March' description='Come hang with us and other students. Socialize, network, and make new friends. Free food and drink!' location='Student Life Building' time='2:00PM - 4:30PM' date='Friday, March 3rd'/>
        </div>

        <div class='pb-4'>
            <h2 class='my-6'>April</h2>
            <Event title='Club Social - April' description='Come hang with us and other students. Socialize, network, and make new friends. Free food and drink!' location='Student Life Building' time='2:00PM - 4:30PM' date='Friday, April 14th'/>
            <Event title='Unlock NYC Coding Jam' description='1-day hackathon. More details TBA at a later time.' location='TBA' time='TBA' date='Friday, April 28th'/>
        </div>

    </div>
</Layout>