---
import Layout from '../layouts/Layout.astro';
import Event from '../components/Event-Card.astro'
---

<Layout title="Lehman College Computer Science Club.">
    <div class='container flex flex-col items-center mx-auto lg:px-0 px-4'>

        <h1>Spring 2023 Events</h1>

        <div>
            <h2 class='my-6'>February</h2>
            <Event title='Welcome Back Social' description='Our first meeting of the semester! Come meet other members and see what upcoming events the CS Club has in store for you.' location='Student Life Building, Conference Room 121' time='2:30PM - 5:00PM' date='Wednesday, February 8th'/>
            <Event title='Intro to GitHub Workshop' description='Learn what Git and Github are, why they are used, and why they are important to know. Bring your own laptop, follow along and get your environment set up to start using GitHub!' location='Gillet Hall, Room 231' time='1:00PM - 5:00PM' date='Friday, February 17th'/>
        </div>

        <div>
            <h2 class='my-6'>March</h2>
            <Event title='Club Social - March' description='Come hang with us and other students. Socialize, network, and make new friends. Free food and drink!' location='Student Life Building' time='2:00PM - 4:30PM' date='Friday, March 3rd'/>
        </div>

        <div class='pb-4'>
            <h2 class='my-6'>April</h2>
            <Event title='Postman API Workshop 101' description='Postman is a tool that makes it easier for software developers to test and work with APIs (Application Programming Interfaces). An API is a set of rules that allows one software application to talk to another and exchange information. Join the workshop to learn more and gain the skills necessary to work with APIs!' location='Online - Zoom' time='1:00PM - 2:00PM' date='Friday, April 14th'/>
            <Event title='Club Social - April' description='Come hang with us and other students. Socialize, network, and make new friends. Free food and drink!' location='Student Life Building' time='2:00PM - 4:30PM' date='Wednesday, April 19th'/>
            <Event title='Spring Coding Jam' description='The Computer Science Club is hosting the first in-person Lehman College hackathon since the pandemic! This event is in collaboration with Girls Who Code, Lehman College Business Club, CUNY Futures in Finance, CUNY Community Inclusive Economic Initiative, and Lehman College Student Affairs.' location='Student Life Building' time='9:00AM - 9:00PM' date='Friday, April 28th'/>
        </div>

    </div>
</Layout>