---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Lehman College Computer Science Club.">
	<!-- <main> -->
	    {/* Welcome Section */}
		<div class='flex justify-around items-center my-9 container mx-auto'>
			<div class='max-w-prose'>
			  <h1 class=''>The Lehman College Computer Science Club</h1>
			  <p class='py-4'>A club dedicated to bringing Computer Science students together. Our goal is to provide an inclusive and supportive environment. We aim to host exciting and interesting events that will help students gain the necessary skills to succeed.</p>
			  <Button text="Join the Club!" link="https://docs.google.com/forms/d/e/1FAIpQLSegGh7jgVYMj4B3ikJ5UxJwmWjN9P5q36-EFviz1Es2ua59Uw/viewform" />
			</div>
			<div class="max-h-prose pl-8">
			  <img
				class='rounded-2xl shadow-lg shadow-slate-500/30 border-1'
				src="/images/Lehman.jpg"
				alt="Club Photo"
				width={800}
				height="auto"
			  />
			</div>
		</div>
	  
		{/* About Section */}
		<div class='bg-slate-500/30'>
			<div class='flex justify-around items-center py-9 container mx-auto'>
				<!-- <div class='bg-slate-500/30 flex justify-around items-center py-9'> -->
					<div class="max-h-prose pr-8">
						<img
						  class='rounded-2xl shadow-lg shadow-slate-500/30 border-1'
						  src="/images/group.jpeg"
						  alt="Group Photo"
						  width={800}
						  height="auto"
						/>
					  </div>
					<div class='max-w-prose'>
						<h1 class=''>Want to know more about us?</h1>
						<p class='py-4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat. Praesent quis placerat lorem. Pellentesque aliquam nisi dui, ac semper arcu dapibus auctor. Mauris condimentum diam porta, luctus nibh eu, fermentum est. Mauris scelerisque, sem a dapibus lacinia, nulla enim faucibus nibh, non tempus nulla risus eu sapien. Nulla facilisi. Phasellus mi urna, tincidunt et turpis at, venenatis mattis nibh. Integer nec ligula metus. Donec ultrices magna ex. Integer lobortis, ante a rhoncus auctor, elit dolor maximus ipsum, sed efficitur ex mauris ac leo. Donec mauris eros, tristique vitae libero vitae, sagittis fermentum libero.</p>
					</div>
				</div>
		</div>

	  
		{/* Events Section */}
		<div class='flex justify-around items-center py-9 container mx-auto'>
			<div class='max-w-prose'>
				<h1 class=''>Upcoming Events</h1>
				<p class='py-4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat. Praesent quis placerat lorem. Pellentesque aliquam nisi dui, ac semper arcu dapibus auctor. Mauris condimentum diam porta, luctus nibh eu, fermentum est. Mauris scelerisque, sem a dapibus lacinia, nulla enim faucibus nibh, non tempus nulla risus eu sapien. Nulla facilisi. Phasellus mi urna, tincidunt et turpis at, venenatis mattis nibh. Integer nec ligula metus. Donec ultrices magna ex. Integer lobortis, ante a rhoncus auctor, elit dolor maximus ipsum, sed efficitur ex mauris ac leo. Donec mauris eros, tristique vitae libero vitae, sagittis fermentum libero.</p>
			</div>
			<div class="max-h-prose pl-8">
				<img
				  class='rounded-2xl shadow-lg shadow-slate-500/30 border-1'
				  src="/images/google_event.png"
				  alt="Google Event"
				  width={800}
				  height="auto"
				/>
			  </div>
		</div>
	  
		{/* Resources Section */}
		<div class='bg-slate-500/30'>
			<div class='flex justify-around items-center py-9 container mx-auto'>
				<div class="max-h-prose pr-8">
					<img
					class='rounded-2xl shadow-lg shadow-slate-500/30 border-1'
					src="/images/Lehman.jpg"
					alt="Club Photo"
					width={800}
					height="auto"
					/>
				</div>
				<div class='max-w-prose'>
					<h1 class=''>Check out these resources!</h1>
					<p class='py-4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna sit amet urna sollicitudin consequat. Praesent quis placerat lorem. Pellentesque aliquam nisi dui, ac semper arcu dapibus auctor. Mauris condimentum diam porta, luctus nibh eu, fermentum est. Mauris scelerisque, sem a dapibus lacinia, nulla enim faucibus nibh, non tempus nulla risus eu sapien. Nulla facilisi. Phasellus mi urna, tincidunt et turpis at, venenatis mattis nibh. Integer nec ligula metus. Donec ultrices magna ex. Integer lobortis, ante a rhoncus auctor, elit dolor maximus ipsum, sed efficitur ex mauris ac leo. Donec mauris eros, tristique vitae libero vitae, sagittis fermentum libero.</p>
				</div>
			</div>
		</div>
	<!-- </main> -->
</Layout>
