---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Lehman College Computer Science Club.">
	<!-- <main> -->
	    {/* Welcome Section */}
		<div class='flex lg:flex-row flex-col justify-around items-center my-9 container mx-auto lg:px-0 px-4'>
			<div class='max-w-prose'>
			  <h1 class=''>Lehman College Computer Science Club</h1>
			  <p class='py-4'>A club dedicated to bringing Computer Science students together.<br><br>Our goal is to provide an inclusive and supportive environment through workshops, projects, and social gatherings.</p>
			  <Button text="Join the Club!" link="https://clubs.lehman.edu/organization/lehmancs" target='_blank' />
			</div>
			<div class="max-h-prose lg:pl-8">
			  <img
				class='rounded-2xl shadow-lg shadow-slate-500/30 border-1'
				src="/images/Lehman.jpg"
				alt="Lehman College"
				width={800}
				height="auto"
			  />
			</div>
		</div>
	  
		{/* About Section */}
		<div class='bg-slate-500/30'>
			<div class='flex lg:flex-row flex-col-reverse justify-around items-center py-9 container mx-auto lg:px-0 px-4'>
					<div class="max-h-prose lg:pr-8">
						<img
						  class='rounded-2xl shadow-lg shadow-slate-500/30 border-1'
						  src="/images/group.jpeg"
						  alt="Group Photo"
						  width={800}
						  height="auto"
						/>
					  </div>
					<div class='max-w-prose'>
						<h1 class=''>Want to know more about us?</h1>
						<p class='py-4'>From CIS to CS majors and beyond, we are all students who want to do more for our school community and fellow students in STEM.<br><br>Learn more about the team and feel free to reach out and connect with us!</p>
						<Button text='Learn more about us' link='/about' />
					</div>
				</div>
		</div>

	  
		{/* Events Section */}
		<div class='flex lg:flex-row flex-col justify-around items-center py-9 container mx-auto lg:px-0 px-4'>
			<div class='max-w-prose'>
				<h1 class=''>Upcoming Events</h1>
				<p class='py-4'>Whether you are new to coding, an experienced developer, or looking to network and improve your soft skills, come check out our events!<br><br>We aim to host exciting and interesting workshops that will help students gain the necessary skills to succeed.</p>
				<Button text='Look at our upcoming events' link='/events' />
			</div>
			<div class="max-h-prose lg:pl-8">
				<img
				  class='rounded-2xl shadow-lg shadow-slate-500/30 border-1'
				  src="/images/google_event.png"
				  alt="Google Event"
				  width={800}
				  height="auto"
				/>
			  </div>
		</div>
	  
		{/* Resources Section */}
		<div class='bg-slate-500/30'>
			<div class='flex lg:flex-row flex-col-reverse justify-around items-center py-9 container mx-auto lg:px-0 px-4'>
				<div class="max-h-prose lg:pr-8">
					<img
					class='rounded-2xl shadow-lg shadow-slate-500/30 border-1'
					src="/images/Spring23ClubFair.jpg"
					alt="Spring 2023 Club Fair Photo"
					width={800}
					height="auto"
					/>
				</div>
				<div class='max-w-prose'>
					<h1 class=''>Check out these resources!</h1>
					<p class='py-4'>Interested in learning a specific coding language? Not sure what Git is and how to use it?<br><br>Check out our resources page for a list of different sites that can help you start your journey in tech.</p>
					<Button text='Check out some resources' link='/resources' />
				</div>
			</div>
		</div>
	<!-- </main> -->
</Layout>
