---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lehman College Computer Science Club.">
    <div class='container mx-auto prose pb-16 lg:px-0 px-4'>
        <h1 class='font-bold'>Resources</h1>
        <p>Check out the links below for learning all sorts of different topics!<br><br>Be sure to also check out the Lehman CS Department and CS Lab for guidance and tutoring.</p>

        <h2>Lehman College Resources</h2>
        <ul>
            <li>
                <a href='https://www.lehman.edu/computer-science/index.php' target='_blank'>Lehman Computer Science Department</a>
                <p>The Department of Computer Science at Lehman College offers undergraduate majors in Computer Science and Computer Information Systems and a graduate program in Computer Science. Minors in Computer Science and Computer Applications are offered as well. Advisers are available to help students select the program most appropriate for them.</p>
            </li>
            <li>
                <a href='https://www.lehman.edu/academics/math-lab.php' target='_blank'>Lehman Computer Science Lab</a>
                <p>The Computer Science Lab (CS Lab) provides tutoring and additional academic support for students pursuing computer science at Lehman.</p>
            </li>
        </ul>

        <h2>WebDev</h2>
        <ul>
            <li>
                <a href='https://www.theodinproject.com/' target='_blank'>The Odin Project</a>
                <p>Free online Full Stack curriculum. Get a foundation in WebDev with HTML and CSS, then choose a path to learn Full Stack with JavaScript or Ruby on Rails.</p>
            </li>
        </ul>
    
        <h2>C++</h2>
        <ul>
            <li>
                <a href='https://www.learncpp.com/' target='_blank'>Learn C++</a>
                <p>Free and well-organized website with detailed tutorials on learning C++.</p>
            </li>
        </ul>

        <h2>Java</h2>
        <ul>
            <li>
                <a href='https://codingbat.com/java' target='_blank'>CodingBat - Java</a>
                <p>Online coding platform with practice problems for you to solve.</p>
            </li>
        </ul>
    
        <h2>Python</h2>
        <ul>
            <li>
                <a href='https://codingbat.com/python' target='_blank'>CodingBat - Python</a>
                <p>Online coding platform with practice problems for you to solve.</p>
            </li>
        </ul>

        <h2>Github</h2>
        <ul>
            <li>
                <a href='https://github.com/git-guides' target='_blank'>Git Guides</a>
                <p>Everything you need to know about Git, from getting started to advanced commands and workflows.</p>
            </li>
            <li>
                <a href='https://docs.github.com/en/get-started/quickstart/set-up-git' target='_blank'>Github Quickstart</a>
                <p>Quickstart guide to setting up git.</p>
            </li>
            <li>
                <a href='https://training.github.com/downloads/github-git-cheat-sheet/' target='_blank'>Github Git Cheat-sheet</a>
                <p>Single page cheat-sheet for normal git commands and workflow.</p>
            </li>
            <li>
                <a href='https://git-scm.com/docs/gittutorial' target='_blank'>Git-SCM Tutorial</a>
                <p>Official git documentation and tutorial.</p>
            </li>
        </ul>
    
        <h2>Technical Interviews</h2>
        <ul>
            <li>
                <a href='https://www.hackerrank.com/' target='_blank'>HackerRank</a>
                <p>Coding platform for practicing code and coding interview questions.</p>
            </li>
        </ul>
        <ul>
            <li>
                <a href='https://leetcode.com/' target='_blank'>LeetCode</a>
                <p>Coding platform for practicing code and coding interview questions.</p>
            </li>
        </ul>
    </div>
</Layout>