---
---

<footer class='bg-slate-700 py-2 text-white flex align-center justify-center sticky top-[100vh]'>
    <div class='flex flex-col flex-initial justify-center align-center'>
        <p class='text-sm'>
            ©2022 Lehman College Computer Science Club<br/>250 Bedford Park Blvd W, The Bronx, NY 10468<br/>
        </p>
        <a class='hover:text-orange-400 text-center' href="mailto:lehmancsclub@gmail.com">lehmancsclub@gmail.com</a>
    </div>
</footer>