--- 
---
<div class="hamburger hover:cursor-pointer md:hidden mx-3">
    <span class="block rounded w-9 h-1 mb-2 bg-white"></span>
    <span class="block rounded w-9 h-1 mb-2 bg-white"></span>
    <span class="block rounded w-9 h-1 mb-2 bg-white"></span>
</div>