---
---

<nav class='bg-slate-700 py-0 mb-10 shadow-lg shadow-red-500/50 font-bold'>
    <div class='container flex flex-row items-center justify-between mx-auto'>
        <a class='text-white hover:text-orange-400' href='/'>
            <div class='flex flex-row'>
                <img
                    class="logo"
                    src="/images/logo-transparent.png"
                    alt="Club Logo"
                    width={80}
                    height='auto'
                />
                <p class='min-w-fit flex items-center'>
                    Lehman College<br/>Computer Science Club
                </p>
            </div>
        </a>
        <div class="w-full">
            <ul class="list-none flex p-4 justify-end text-lg">
                <li>
                    <a class='text-white hover:text-orange-400 px-6' href='/about'>About</a>
                </li>
                <li>
                    <a class='text-white hover:text-orange-400 px-6' href='/events'>Events</a>
                </li>
                <li>
                    <a class='text-white hover:text-orange-400 pl-6' href='/resources'>Resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>