---
---

<nav class='bg-slate-700 shadow-lg shadow-slate-500/50 font-bold flex justify-center sticky top-0 left-0 right-0 w-full z-50 py-0 mt-0 mb-10'>
    <div class='container flex flex-row items-center justify-between'>
        <a class='text-white hover:text-orange-400' href='/'>
            <div class='flex flex-row'>
                <img
                    class="logo"
                    src="/images/logo-transparent-black.png"
                    alt="Club Logo"
                    width={80}
                    height='auto'
                />
                <p class='min-w-fit flex items-center text-sm'>
                    Lehman College<br/>Computer Science Club
                </p>
            </div>
        </a>
        <div class="w-auto">
            <ul class="list-none flex p-0 justify-end text-base">
                <li>
                    <a class='text-white hover:text-orange-400 px-3' href='/about'>About</a>
                </li>
                <li>
                    <a class='text-white hover:text-orange-400 px-3' href='/events'>Events</a>
                </li>
                <li>
                    <a class='text-white hover:text-orange-400 pl-3' href='/resources'>Resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>