---
import Hamburger from '../components/Hamburger.astro'
import Button from '../components/Button.astro';
---

<nav class='bg-slate-700 shadow-lg shadow-slate-500/50 font-bold flex justify-center sticky top-0 left-0 right-0 w-full z-50 py-0 mt-0 mb-10'>
    <div class='navbar container flex flex-row items-center justify-between'>
        <div class='container flex flex-row items-center justify-between'>
            <a class='text-white hover:text-orange-400' href='/'>
            <div class='flex flex-row'>
                <img
                    class="logo"
                    src="/images/logo-transparent-black.png"
                    alt="Club Logo"
                    width={80}
                    height='auto'
                />
                <p class='min-w-fit flex items-center text-sm'>
                    Lehman College<br/>Computer Science Club
                </p>
            </div>
            </a>
            <Hamburger class='flex justify-end' />
        </div>
        <div class="nav-links w-auto hidden md:flex">
            <ul class="nav-list list-none flex flex-grow items-center p-0">
                <li>
                    <a class='text-white hover:text-orange-400 px-3' href='/about'>About</a>
                </li>
                <li>
                    <a class='text-white hover:text-orange-400 px-3' href='/events'>Events</a>
                </li>
                <li>
                    <a class='text-white hover:text-orange-400 px-3' href='/resources'>Resources</a>
                </li>
                <li class='mx-2'>
                    <Button text="Sign up" link="https://clubs.lehman.edu/organization/lehmancs" target='_blank' />
                </li>
            </ul>
        </div>
    </div>
</nav>